# package directories
auction_service/node_modules
auth_service/node_modules
notification_service/node_modules

jspm_packages

.vscode

# Serverless directories
auction_service/.serverless
auth_service/.serverless
notification_service/.serverless
# Webpack directories
auction_service/.webpack
auth_service/.webpack
notification_service/.webpack

auth_service/secret.pem
